* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: cornflowerblue;
}
img{
  width: 250px;
  height: 250px;
}
img {
  width: 250px;
  height: 250px;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}
 .card {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 10px;
  overflow: hidden;
}
.imgbox, .contenttext {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
}
.imgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.contenttext::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background: rgba(26, 141, 235, 0.623);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  transition-delay:0.5s;
}
.card:hover .contenttext::before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  transition-delay:0.5s;
}
.card .contenttext{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  position: relative;
  padding: 30px;
  z-index: 2;
  transition: 0.5s;
  transform: translateX(-250px);
  transition-delay:0.5s;
}
.card:hover .content{
  transform: translateX(0);
  transition-delay:0.5s;
}
h2{
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
<<<<<<< HEAD

=======
p{
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
}
>>>>>>> fd425998966a9a2d66cf1c0a96d535efdbdd6330
